.container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 179, 0);
}

a:hover {
    color: rgb(0, 120, 0);
}